:root {
    --primary-color: #0A2463;
    --secondary-color: #fb3640;
    --background-color: #ffffff;
    --card-background: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --link-hover: #ff6f61;
    --navbar-link-hover-color: #ff6f61;
    --landing-primary-colour: #6b89ffc6;
    --landing-secondary-colour: #f7f7f7;
    --footer-background: #0A2463;
    --footer-text-color: #333;
    --primary-text-color: #333;
}

[data-theme="dark"] {
    --primary-color: #4fc3f7;
    --secondary-color: #ff3d3d;
    --background-color: #0d0d0d;
    --card-background: #1a1a1a;
    --card-shadow: rgba(0, 255, 255, 0.2);
    --link-hover: #ff6f61;
    --navbar-link-hover-color: #4fc3f7;
    --landing-primary-colour: #00194e;
    --landing-secondary-colour: #2c2c2c;
    --footer-background: #0d0d0d;
    --footer-text-color: #e0e0e0;
    --primary-text-color: #e0e0e0;
}

header {
    background: linear-gradient(45deg, var(--secondary-color) 30%, var(--primary-color) 60%);
    background: var(--primary-color);
    color: white;
    border-bottom: 3px solid var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
    background-color: var(--background-color);
}

section {
    padding: 12rem 0;
}

p {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    line-height: 1.7;
}


.lead {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.landing-section {
    height: 100vh;
    background: linear-gradient(120deg, var(--landing-primary-colour), var(--landing-secondary-colour)), url(./images/common-bg.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.landing-section h1 {
    color: var(--primary-text-color);
    font-size: 3.5rem;
    animation: fadeInDown 1.5s ease-out;
    border-bottom: var(--secondary-color);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.name {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.name .filled {
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 8rem;
}

.name .unfilled {
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-text-color);
    display: block;
    font-size: 8rem;
}

h3 {
    margin: 1%;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--primary-text-color);
}

p {
    color: var(--primary-text-color);
}

i {
    color: var(--primary-text-color);
}

.navbar {
    background: linear-gradient(120deg, var(--landing-primary-colour), var(--landing-secondary-colour));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.navbar-nav .nav-link,
.navbar-brand {
    padding: 2.2rem 5rem;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--primary-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover {
    color: var(--secondary-color);
    transform: translateY(-2px);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*
.navbar-nav .nav-link:hover {
    color: var(--primary-color);
    background-color: var(--navbar-link-hover-color);
    border-radius: 5px;
}
*/

.logo {
    width: 50px;
}

section {
    padding: 20px;
}

.card {
    background-color: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--card-shadow);
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.card-title {
    color: var(--primary-color);
    font-size: 2rem;
}

.card-text {
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

.project {
    height: 400px
}

.container h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--secondary-color);
    display: inline-block;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: 3rem;
}

.form-control {
    border-color: var(--primary-color);
}


.btn {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    font-weight: 600;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    transition: 0.3s;
}

.btn.btn-outline-primary {
    border-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.btn.btn-primary:hover {
    background-color: var(--link-hover);
    border-color: var(--link-hover);
}

.btn.btn-code-link {
    border-color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-color);
    transition: 0.3s;
    font-weight: 700;
}

.project-btn {
    position: absolute;
    bottom: 10px;
}

.project-btn:hover {
    transform: none;
}


.btn-lg {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 6rem;
    letter-spacing: 3px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

footer {
    background: linear-gradient(120deg, var(--landing-primary-colour), var(--landing-secondary-colour));
    color: var(--footer-text-color);
    padding: 20px;
    text-align: center;
    width: 100%;
}

.img-thumbnail {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--card-shadow);
    transition: transform 0.3s;
}

.img-thumbnail:hover {
    transform: scale(1.05);
}

.modal-content {
    border-radius: 8px;
    background-color: var(--background-color);
}

.modal-body embed {
    border-radius: 8px;
}


#skills div div {
    background-color: var(--card-background);
    margin: 2%;
    font-weight: 600;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    color: var(--primary-text-color);
}



.decorative-illustration {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.form-group {
    padding: 2rem;
}

label {
    font-size: 1.5rem;
}

.form-control {
    font-size: 1.5rem;
}

.toggle-container {
    width: 60px;
    height: 34px;
    position: relative;
    cursor: pointer;
}

.toggle-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.toggle-slider {
    background-color: #2196F3;
}

input:checked+.toggle-slider:before {
    transform: translateX(26px);
}

.toggle-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #333;
    transition: .4s;
}

.toggle-icon.sun {
    left: 7px;
}

.toggle-icon.moon {
    right: 7px;
    opacity: 0;
}

input:checked~.toggle-icon.sun {
    opacity: 0;
}

input:checked~.toggle-icon.moon {
    opacity: 1;
}




@media only screen and (min-width: 300px) {
    html {
        font-size: 50%;
    }

    .card img {
        object-fit: cover;
        height: 125px;
    }

    .project {
        height: 300px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 425px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 30px;
    }
}

@media only screen and (min-width: 700px) {
    html {
        font-size: 56%;
    }

    .project {
        height: 375px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 50%;
    }

    .card {
        max-width: 90%;
    }

    .card img {
        object-fit: cover;
        height: 200px;
    }

    .project {
        height: 400px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1300px) {
    html {
        font-size: 65%;
    }

    .card {
        max-width: 100%;
    }
}
